.div-scss {
    text-align: center;
    color: blue;
    font-size: 20px;
}

.table-fetch {
    abbr {
        text-decoration: none;
    }
}

.sidebar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}